In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import pickle

# testing chunk 1

In [3]:
df = pd.read_csv('data/testing_chunks/testing_chunk1.csv')
df.head()

,title,text,Label
0,republican ryan raising big money white house...,overlooked speculation running president repu...,1
1,chicitysports fantasy review week fantasy foo...,chicitysports fantasy review week fantasy foo...,0
2,insane gop congressman want mentally ill gun ...,year saneminded individual congress alongside...,0
3,ohio vfw ban nfls cleveland brown viewing ant...,vfw strongsville ohio right exercising freedo...,0
4,yankee new weapon postseason run,yankee new weapon postseason runbefore newsaa...,0

In [4]:
df['Total'] = df['title']+''+df['text']

In [6]:
df.drop(columns=['title','text'],inplace=True)

In [7]:
df.head()

   Label                                              Total
0      1   republican ryan raising big money white house...
1      0   chicitysports fantasy review week fantasy foo...
2      0   insane gop congressman want mentally ill gun ...
3      0   ohio vfw ban nfls cleveland brown viewing ant...
4      0   yankee new weapon postseason run yankee new w...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   10000 non-null  int64
 1   Total   10000 non-null  object
dtypes: int64(1), object(1)
memory usage: 156.4+ KB

In [9]:
vectorizer = pickle.load(open('pickled_models/count_vectorizer.pkl','rb'))
transformer = pickle.load(open('pickled_models/tfid_transformer.pkl','rb'))
model_tree = pickle.load(open('pickled_models/tree_clf.pkl','rb'))
model_forest = pickle.load(open('pickled_models/forest_clf.pkl','rb'))
model_log = pickle.load(open('pickled_models/logistic_clf.pkl','rb'))
model_nb = pickle.load(open('pickled_models/nb_clf.pkl','rb'))

In [12]:
def transform_vectorize(sample):
    temp = vectorizer.transform(sample)
    mat = transformer.transform(temp).todense()
    return mat

In [13]:
x_mat = transform_vectorize(df['Total'])

In [14]:
x_mat.shape

(10000, 91071)

In [15]:
ypredict_tree = model_tree.predict(x_mat)
ypredict_forest = model_forest.predict(x_mat)
ypredict_log =model_log.predict(x_mat)
ypredict_nb =model_nb.predict(x_mat)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 250 out of 250 | elapsed:    1.9s finished

In [17]:
import sklearn.metrics as metrics

In [18]:
tree = metrics.accuracy_score(df['Label'].values,ypredict_tree)
forest = metrics.accuracy_score(df['Label'].values,ypredict_forest)
log = metrics.accuracy_score(df['Label'].values,ypredict_log)
nb = metrics.accuracy_score(df['Label'].values,ypredict_nb)

In [19]:
scores = pd.DataFrame({'Decision Tree':tree,'Random Forest':forest,'Logistic Regession':log,'Naieve Bayes':nb},index=[0])

In [20]:
scores

   Decision Tree  Random Forest  Logistic Regession  Naieve Bayes
0          0.904         0.9383              0.9682        0.8833

In [21]:
#

# Testing chunk2

In [22]:
df2 = pd.read_csv('data/testing_chunks/testing_chunk2.csv')
df2.head()

,title,text,Label
0,watch trump criticizing time person year poli...,even though former reality show star turned p...,0
1,someone call waaambulance glenn beck warns he...,hey glenn suicide laughing matter really need...,0
2,washington post call maine governor resign,washington post wednesday called maine govern...,1
3,bannon call sen bob corker resign,former white house chief strategist steve ban...,1
4,dead broke hillary hit swanky salon entourage...,wait thought dead broke like everyday america...,0

In [23]:
df2['Total'] = df2['title']+''+df2['text']

In [24]:
df2.drop(columns=['title','text'],inplace=True)

In [25]:
df2.head()

   Label                                              Total
0      0   watch trump criticizing time person year poli...
1      0   someone call waaambulance glenn beck warns he...
2      1   washington post call maine governor resign wa...
3      1   bannon call sen bob corker resign former whit...
4      0   dead broke hillary hit swanky salon entourage...

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   8555 non-null   int64
 1   Total   8555 non-null   object
dtypes: int64(1), object(1)
memory usage: 133.8+ KB

In [27]:
x_mat2 = transform_vectorize(df2['Total'])

In [28]:
x_mat2.shape

(8555, 91071)

In [29]:
ypredict_tree2 = model_tree.predict(x_mat2)
ypredict_forest2 = model_forest.predict(x_mat2)
ypredict_log2 =model_log.predict(x_mat2)
ypredict_nb2 =model_nb.predict(x_mat2)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 250 out of 250 | elapsed:    1.5s finished

In [30]:
tree2 = metrics.accuracy_score(df2['Label'].values,ypredict_tree2)
forest2 = metrics.accuracy_score(df2['Label'].values,ypredict_forest2)
log2= metrics.accuracy_score(df2['Label'].values,ypredict_log2)
nb2 = metrics.accuracy_score(df2['Label'].values,ypredict_nb2)

In [31]:
scores2 = pd.DataFrame({'Decision Tree':tree2,'Random Forest':forest2,'Logistic Regession':log2,'Naieve Bayes':nb2},index=[0])

In [32]:
scores2

   Decision Tree  Random Forest  Logistic Regession  Naieve Bayes
0       0.909293       0.945178             0.97066      0.896201

In [33]:
# Comparing testing scores chunkwise

In [34]:
compare_scores = pd.DataFrame({'Decision Tree':[tree,tree2],'Random Forest':[forest,forest2],'Logistic Regession':[log,log2],'Naieve Bayes':[nb,nb2]},index=['chunk1','chunk2'])

In [35]:
compare_scores

        Decision Tree  Random Forest  Logistic Regession  Naieve Bayes
chunk1       0.904000       0.938300             0.96820      0.883300
chunk2       0.909293       0.945178             0.97066      0.896201