In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [4]:
df = pd.read_csv('Testing_data/cleaned_testing_data.csv')

In [5]:
df.head()

   Unnamed: 0  label                                              Total
0           0      0   smell hillary feardaniel greenfield shillman ...
1           1      0   watch exact moment paul ryan committed politi...
2           2      1   kerry go paris gesture sympathyus secretary s...
3           3      0   bernie supporter twitter erupt anger dnc trie...
4           4      1   battle new york primary mattersits primary da...