In [61]:
import pandas as pd
import numpy as np

# real Data

In [62]:
real = pd.read_csv('True_data2.csv')

In [63]:
real.shape

(21417, 4)

In [64]:
real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [65]:
real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [66]:
real['Label'] = 1

In [67]:
real.drop(columns=['subject','date'],inplace=True)

In [68]:
real.drop(index=[8247,8970 ],axis=0,inplace=True)

In [69]:
def sep(x):
    k = x.split('-')
    return k[1]

In [70]:
real['text'] = real['text'].apply(sep)

In [71]:
real

,title,text,Label
0,"As U.S. budget fight looms, Republicans flip t...",The head of a conservative Republican faction...,1
1,U.S. military to accept transgender recruits o...,Transgender people will be allowed for the fi...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,The special counsel investigation of links be...,1
3,FBI Russia probe helped by Australian diplomat...,Trump campaign adviser George Papadopoulos to...,1
4,Trump wants Postal Service to charge 'much mor...,President Donald Trump called on the U.S. Pos...,1
...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,NATO allies on Tuesday welcomed President Don...,1
21413,LexisNexis withdrew two products from Chinese ...,"LexisNexis, a provider of legal, regulatory a...",1
21414,Minsk cultural hub becomes haven from authorities,In the shadow of disused Soviet,1
21415,Vatican upbeat on possibility of Pope Francis ...,Vatican Secretary of State Cardinal Pietro Pa...,1
21416,Indonesia to buy $1.14 billion worth of Russia...,Indonesia will buy 11 Sukhoi fighter jets wor...,1

In [72]:
real[real['text']=='']

                                                  title text  Label
5761  Factbox: Trump on Twitter (Feb 1) - Rex Tiller...           1
6026  Factbox: Trump on Twitter (Jan 25) - ABC inter...           1

# Fake Data

In [73]:
fake = pd.read_csv('Fake_data2.csv')

In [74]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [75]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [76]:
fake.drop(columns=['subject','date'],inplace=True)

In [77]:
fake.head()

,title,text
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk..."
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ..."
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...

In [78]:
fake['Label'] = 0

In [79]:
fake.head()

,title,text,Label
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0

In [80]:
fake[fake['text']=='']

Empty DataFrame
Columns: [title, text, Label]
Index: []

In [81]:
data1 = pd.concat([real,fake]).reset_index(drop=True)

In [82]:
data1 = data1.sample(frac=1).reset_index(drop=True)

In [83]:
data1

,title,text,Label
0,HEREâ€™S HOW HILLARYâ€™S VP PICK Has Just Proven H...,Hillary s VP pick is proving himself to be a a...,0
1,Boeing CEO says he assured Trump about Air For...,Boeing Co Chief Executive Dennis Muilenburg m...,1
2,THEREâ€™S A NEW SHERIFF IN TOWN: ISIS Gets Stunn...,President Trump has mentioned in the past that...,0
3,Chinese official optimistic about US trade ami...,Chinese Vice Premier Wang Yang said on Tuesda...,1
4,Supreme Court to hear major case on political ...,The U.S. Supreme Court agreed on Monday to de...,1
...,...,...,...
44891,Democrats force postponement of committee's vo...,The U.S. Senate Banking Committee on Thursday...,1
44892,"Republicans Dine With Trump, Then Try To Rail...",Republicans are once again putting their party...,0
44893,"Kellyanne Conway Just Earned â€˜Leakerâ€™ Label, ...",The entire Trump White House is all about crac...,0
44894,Mnuchin warns of tax reform delay following he...,U.S. Treasury Secretary Steven Mnuchin said t...,1
44895,"After one week, Myanmar silent on whereabouts ...",Two Reuters journalists completed a week in d...,1

In [84]:
data1.drop(index = data1[data1['text']==''].index,inplace=True)

In [90]:
data1[data1['title']=='']

Empty DataFrame
Columns: [title, text, Label]
Index: []

In [88]:
data1[data1['text']=='']

Empty DataFrame
Columns: [title, text, Label]
Index: []

In [86]:
data1.to_csv('cleaned_data2.csv',index=False)